.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    min-width: 100px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
    .icon + .title,
    .title + .icon {
        margin-left: 8px;
    }
}
.primary {
    color: rgba(255, 255, 255, 1);
    background-color: var(--primary);
    &:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    padding: 4px 16px;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text {
    background-color: rgba(255, 255, 255, 1);
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.bounded {
    border-radius: 999px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: none;
    &:hover {
        cursor: pointer;
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}
.icon {
    display: inline-block;
    width: 20px;
}
// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    padding: 14px 16px;
    min-width: 148px;
}
